Chapter 22
# 鸢尾花数据帧使用apply() 匿名lambda函数，对于特定两列
Book_1《编程不难》 | 鸢尾花书：从加减乘除到机器学习

In [1]:
import seaborn as sns
import pandas as pd

In [2]:
iris_df = sns.load_dataset("iris")
# 从Seaborn中导入鸢尾花数据帧
iris_df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [3]:
# 计算鸢尾花各类花瓣平均宽度
mean_X2_by_species = iris_df.groupby('species')['petal_width'].mean()
mean_X2_by_species

species
setosa        0.246
versicolor    1.326
virginica     2.026
Name: petal_width, dtype: float64

In [4]:
# 定义映射函数
def map_petal_width(petal_width, species):
    if petal_width > mean_X2_by_species[species]:
        return "YES"
    else:
        return "NO"

In [5]:
# 使用 map 方法将花瓣宽度映射为是否超过平均值
iris_df['greater_than_mean'] = iris_df.apply(lambda row: map_petal_width(row['petal_width'], row['species']), axis=1)
iris_df

,sepal_length,sepal_width,petal_length,petal_width,species,greater_than_mean
0,5.1,3.5,1.4,0.2,setosa,NO
1,4.9,3.0,1.4,0.2,setosa,NO
2,4.7,3.2,1.3,0.2,setosa,NO
3,4.6,3.1,1.5,0.2,setosa,NO
4,5.0,3.6,1.4,0.2,setosa,NO
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,YES
146,6.3,2.5,5.0,1.9,virginica,NO
147,6.5,3.0,5.2,2.0,virginica,NO
148,6.2,3.4,5.4,2.3,virginica,YES
149,5.9,3.0,5.1,1.8,virginica,NO